{{define "specific"}}{{ $cs := .ExtraData.FinalizationState }}
<h1>Blochchain Status</h1>
<div class="row">
    <div class="col-md-6">
        <h3>Finalization State</h3>
        <table class="table data-table">
            <tbody>
                <tr>
                    <td style="width: 33%;">Current Epoch</td>
                    <td class="data">{{ $cs.CurrentEpoch }}</td>
                </tr>
                <tr>
                    <td style="width: 33%;">Current Dynasty</td>
                    <td class="data">{{ $cs.CurrentDynasty }}</td>
                </tr>
                <tr>
                    <td style="width: 33%;">Last Finalized Epoch</td>
                    <td class="data">{{ $cs.LastFinalizedEpoch }}</td>
                </tr>
                <tr>
                    <td style="width: 33%;">Last Justified Epoch</td>
                    <td class="data">{{ $cs.LastJustifiedEpoch }}</td>
                </tr>
                <tr>
                    <td style="width: 33%;">Validators</td>
                    <td class="data">{{ $cs.Validators }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{end}}
